
@font-face {
    font-family: "GothamPro-Light";
    font-style: normal;
    font-weight: 300;
    src: local("GothamPro"),
    url("../fonts/GothamPro-Light.woff")
}
@font-face {
    font-family: "GothamPro-Medium";
    font-style: normal;
    font-weight: 400;
    src: local("GothamPro"),
    url("../fonts/GothamPro-Medium.woff")
}
@font-face {
    font-family: "GothamPro-Bold";
    font-style: normal;
    font-weight: 600;
    src: local("GothamPro"),
    url("../fonts/GothamPro-Bold.woff")
}