@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  color: #303032;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F9FDFF;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: 'OpenSans-Italic';
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans-Italic"), url("../fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("PlayfairDisplay-Regular"), url("../fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("PlayfairDisplay-Bold"), url("../fonts/PlayfairDisplay-Bold.ttf");
}

.feature {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(65%, #F9FDFF), color-stop(35%, #FCEAE8));
  background-image: linear-gradient(90deg, #F9FDFF 65%, #FCEAE8 35%);
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 85px;
}

.header-menu_left {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu_tabs {
  width: 70%;
}

.header-menu_tabs_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header-menu_right {
  width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu_tabs_ul li {
  display: inline;
  text-transform: uppercase;
}

.header-menu_tabs_ul li a {
  text-decoration: none;
  font: 400 14px "OpenSans-Regular", sans-serif;
  line-height: 19px;
  letter-spacing: 0.13em;
  color: #303032;
}

.header-menu_tabs_ul li a:hover {
  color: #7b7b80;
}

.header-menu_tabs_ul li a:active {
  border-bottom: 1px solid;
  color: black;
}

.header-menu_tabs_ul li a:focus {
  border-bottom: 1px solid;
}

.search-button {
  height: 32px;
}

.search-button form {
  position: relative;
}

.search-button input {
  height: 30px;
  width: 25px;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  color: transparent;
  opacity: 0.0;
}

.search-button input:focus {
  width: 300px;
  z-index: 2;
  padding: 0px 22px 0 15px;
  color: #303032;
  cursor: auto;
  border-radius: 30px;
  border: 2px solid #324b4e;
  display: inline;
  opacity: 1.0;
}

.search-button button {
  margin: 0;
  padding: 2px 2px 0 0;
  background: transparent;
  border: none;
  height: 25px;
  width: 25px;
  position: initial-scale;
  cursor: pointer;
}

.search-button button:before {
  content: url("../img/search.png");
  color: #F9F0DA;
  display: inline-block;
}

.search-button input:focus ~ button:before {
  content: url("../img/search-min.png");
  position: relative;
  top: 5px;
  right: 3px;
}

/* скрываем чекбокс */
#menu__toggle {
  display: none;
}

/* стилизуем кнопку */
.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #313133;
  z-index: 2;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 120px 0;
  list-style: none;
  text-align: center;
  background-color: #303032;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 38px 24px;
  color: #333;
  font: 400 14px "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #555559;
}

#menu__toggle:checked ~ .menu__btn {
  margin-top: -2px;
  margin-left: -2px;
  width: 30px;
  height: 30px;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #FFFFFF;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #FFFFFF;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #FFFFFF;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.design-block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  block-size: inherit;
}

.design-text {
  font: 400 20px "OpenSans-Regular", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.design-text_title {
  font: 700 57px "PlayfairDisplay-Bold", sans-serif;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.design-text_name {
  font: 400 20px "OpenSans-Regular", sans-serif;
  line-height: 27px;
  margin-top: 35px;
}

.design-text_prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.design-text_price {
  font: 400 20px "OpenSans-Regular", sans-serif;
  margin-right: 20%;
}

.design-text_price_sale {
  font: 600 30px "OpenSans-SemiBold", sans-serif;
  line-height: 41px;
}

.design-text button {
  cursor: pointer;
  font: 400 14px "OpenSans-Regular", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.13em;
  color: #FFFFFF;
  width: 238px;
  height: 58px;
  left: 135px;
  top: 537px;
  background: #303032;
  border: none;
  margin-top: 35px;
}

.design-text button:hover {
  background: #49494c;
  -webkit-box-shadow: 0 10px 13px 0 #0000003d;
          box-shadow: 0 10px 13px 0 #0000003d;
}

.design-text button:focus {
  background: #242425;
  -webkit-box-shadow: 0 7px 10px 0 #0000003d;
          box-shadow: 0 7px 10px 0 #0000003d;
}

.design-chair {
  margin-right: 5%;
}

/* перебивка точек слайдера на цифры*/
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  width: 50px;
  top: 42%;
  right: 0;
}

.slick-dots li {
  width: 50px;
  height: 40px;
  margin: 0 0 20px 0;
}

.slick-dots li button {
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
}

.slick-dots li button::before {
  opacity: 1;
}

.slick-dots li #slick-slide-control00::before {
  width: inherit;
  height: inherit;
  content: '01';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

.slick-dots li.slick-active #slick-slide-control00::before {
  width: inherit;
  height: inherit;
  content: '01';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  text-align: right;
  top: -20px;
  right: 0;
}

.slick-dots li.slick-active #slick-slide-control00::after {
  content: '';
  width: 2px;
  height: 54px;
  position: absolute;
  background: #000000;
  right: -20px;
  top: -15px;
}

.slick-dots li #slick-slide-control01::before {
  width: inherit;
  height: inherit;
  content: '02';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

.slick-dots li.slick-active #slick-slide-control01::before {
  width: inherit;
  height: inherit;
  content: '02';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  text-align: right;
  top: -20px;
  right: 0;
}

.slick-dots li.slick-active #slick-slide-control01::after {
  content: '';
  width: 2px;
  height: 54px;
  position: absolute;
  background: #000000;
  right: -20px;
  top: -15px;
}

.slick-dots li #slick-slide-control02::before {
  width: inherit;
  height: inherit;
  content: '03';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

.slick-dots li.slick-active #slick-slide-control02::before {
  width: inherit;
  height: inherit;
  content: '03';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  text-align: right;
  top: -20px;
  right: 0;
}

.slick-dots li.slick-active #slick-slide-control02::after {
  content: '';
  width: 2px;
  height: 54px;
  position: absolute;
  background: #000000;
  right: -20px;
  top: -15px;
}

.slick-dots li #slick-slide-control03::before {
  width: inherit;
  height: inherit;
  content: '04';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

.slick-dots li.slick-active #slick-slide-control03::before {
  width: inherit;
  height: inherit;
  content: '04';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  text-align: right;
  top: -20px;
  right: 0;
}

.slick-dots li.slick-active #slick-slide-control03::after {
  content: '';
  width: 2px;
  height: 54px;
  position: absolute;
  background: #000000;
  right: -20px;
  top: -15px;
}

.new_furniture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 102px;
  padding-top: 120px;
}

.new_furniture_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.new_left_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  max-width: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.new_img_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 289px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
  margin-right: 30px;
}

.new_img_block:first-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.new_img_block:nth-child(n+3) {
  margin-top: 37px;
}

.new_left_header {
  font: 700 57px "PlayfairDisplay-Bold", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: transparent;
}

.new_header {
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #303032;
  text-transform: uppercase;
}

.new_header_hr {
  width: 90px;
  height: 4px;
  background: #303032;
  border: 0;
  margin: 14px 0 0 0;
}

.new_img1 {
  max-width: 175px;
  margin-top: 20px;
}

.new_img2 {
  max-width: 202px;
  overflow: hidden;
}

.new_img3 {
  max-width: 270px;
}

.new_img_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new_img_text p:nth-child(odd) {
  font: 400 20px "OpenSans-Regular", sans-serif;
  line-height: 27px;
  color: #303032;
  margin-bottom: 7px;
}

.new_img_text p:nth-child(even) {
  font: 600 30px "OpenSans-SemiBold", sans-serif;
  font-size: 28px;
  line-height: 38px;
  color: #303032;
  margin-bottom: 16px;
}

.new_right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

.new-right_img {
  margin: 19px 37px 29px 43px;
}

.new_right_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new_right_text p:first-child {
  font: 400 20px "OpenSans-Regular", sans-serif;
  line-height: 27px;
  color: #303032;
  margin-bottom: 7px;
}

.new_right_text p:last-child {
  font: 600 30px "OpenSans-SemiBold", sans-serif;
  font-size: 28px;
  line-height: 38px;
  color: #303032;
  margin-bottom: 26px;
}

.review {
  padding-bottom: 100px;
}

.review_block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #444348;
}

.review_img {
  margin-bottom: 25px;
}

.review_name {
  text-align: center;
  margin-bottom: 20px;
}

.review_name h2 {
  font: 600 30px "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.review_name p {
  font: 400 14px "OpenSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.rewiew_comment {
  max-width: 653px;
  font: 400 16px "OpenSans-Italic", sans-serif;
  line-height: 25px;
  text-align: center;
  margin-bottom: 10px;
}

/* Slider */
.slick2-prev {
  left: 15%;
  z-index: 2;
  width: 36px;
  height: 37px;
}

.slick2-next {
  right: 15%;
  z-index: 2;
}

.slick2-prev::before, .slick2-next::before {
  font-size: 36px;
}

.slick2-prev::before {
  display: inline-block;
  z-index: 2;
  content: url("../img/arrow-left.png");
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-size: 0;
}

.slick2-next::before {
  display: inline-block;
  z-index: 2;
  content: url("../img/arrow-right.png");
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-size: 0;
}

.slick2-dots li button::before {
  content: url("../img/dot-inactive.png");
  opacity: 1;
}

.slick2-dots li.slick2-active button::before {
  content: url("../img/dot-active.png");
  opacity: 1;
}

.last_chance {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(76%, transparent), color-stop(76%, #F9FDFF)), -webkit-gradient(linear, left top, right top, color-stop(54%, #FAECE9), color-stop(54%, #F9FDFF));
  background-image: linear-gradient(180deg, transparent 0%, transparent 76%, #F9FDFF 76% 100%), linear-gradient(90deg, #FAECE9 54%, #F9FDFF 54%);
}

.last_chance_wrapper {
  padding: 73px 0 66px 0;
}

.last_chance_header {
  margin-bottom: 22px;
}

.last_chance_header h2 {
  font: 700 57px "PlayfairDisplay-Bold", sans-serif;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #303032;
  text-transform: uppercase;
}

.last_chance_header_hr {
  width: 90px;
  height: 4px;
  background: #303032;
  border: 0;
  margin: 14px 0 0 0;
}

.last_chance_slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.last_chair_block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 209px !important;
  margin-right: 32px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  position: relative;
  margin-bottom: 45px;
}

.last_chair_hover_top {
  height: 5px;
  background: #303032;
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.last_chair_hover_top p {
  display: none;
}

.last_chair_hover_bottom {
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 100%;
  height: 58px;
  display: none;
}

.last_chair_hover_bottom button {
  cursor: pointer;
  padding: 0;
  width: inherit;
  height: inherit;
  background: #303032;
  font: 400 20px "OpenSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
}

.last_chair_block:hover .last_chair_hover_top {
  display: inline;
}

.last_chair_block:hover .last_chair_hover_bottom {
  display: inline;
}

.last_chair_hover_bottom button:hover {
  background: #242425;
}

.last_chair_hover_bottom button:active {
  background: #3c3c3f;
}

.last_chair_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font: 400 14px "OpenSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin: 31px 0 0 23px;
}

.last_chair_prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 600 30px "OpenSans-SemiBold", sans-serif;
}

.last_chair_price {
  font-size: 28px;
  line-height: 38px;
  color: #303032;
  margin-right: 11px;
}

.last_chair_price_sale {
  font-size: 16px;
  line-height: 22px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #979798;
}

.last_chair_img {
  max-width: 209px;
  max-height: 252px;
  overflow: hidden;
}

.last_chair_img_img2 {
  position: relative;
  left: -92px;
  top: -69px;
}

.last_chair_img_img3 {
  position: relative;
  left: -7px;
  top: 6px;
}

.last_chair_img_img4 {
  position: relative;
  left: -79px;
  top: -52px;
}

.last_chair_img_img5 {
  position: relative;
  left: 47px;
}

/* Базовый контейнер табов */
.tabs {
  padding: 0px;
  margin: 0 auto;
}

/* Стили секций с содержанием */
.tabs > section {
  display: none;
  padding: 5px 0 111px 0;
}

/* Прячем чекбоксы */
.tabs > input {
  display: none;
  position: absolute;
}

/* Стили переключателей вкладок (табов) */
.tabs > label {
  display: inline-block;
  padding: 15px 48px 20px 0;
  font: 600 30px "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

/* Изменения стиля переключателей вкладок при наведении */
.tabs > label:hover {
  color: #888;
  cursor: pointer;
}

/* Стили для активной вкладки */
.tabs > input:checked + label {
  color: #000000;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked ~ #content-tab1 {
  display: block;
}

#tab2:checked ~ #content-tab2 {
  display: block;
}

#tab3:checked ~ #content-tab3 {
  display: block;
}

@media screen {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 1800px) {
  .feature {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(69%, #F9FDFF), color-stop(31%, #FCEAE8));
    background-image: linear-gradient(90deg, #F9FDFF 69%, #FCEAE8 31%);
  }
}

@media screen and (max-width: 1439px) {
  .container {
    max-width: 1000px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .header-menu {
    padding-top: 60px;
  }
  .slick-dots li.slick-active #slick-slide-control00::after, .slick-dots li.slick-active #slick-slide-control01::after, .slick-dots li.slick-active #slick-slide-control02::after, .slick-dots li.slick-active #slick-slide-control03::after {
    right: -15px;
  }
  .new_furniture {
    padding-top: 100px;
  }
  .new_img_block {
    width: 220px;
    max-height: 270px;
  }
  .new_img_block:nth-child(n+3) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .new_img1 {
    max-width: 175px;
    margin-top: 10px;
  }
  .new_img2 img {
    max-width: 190px;
  }
  .new_img3 img {
    max-width: 100%;
  }
  .new_right_block {
    width: 460px;
  }
  .new-right_img {
    max-width: 100%;
    margin: 19px 0 29px 0;
  }
  .new-right_img img {
    max-width: 460px;
  }
  .slick2-prev {
    left: 10%;
  }
  .slick2-next {
    right: 10%;
  }
}

@media screen and (max-width: 1023px) {
  .design-text_title {
    font-size: 53px;
  }
  .new_furniture {
    padding-top: 90px;
  }
  .new_img_block {
    width: 210px;
  }
  .new_right_block {
    width: 445px;
  }
  .new-right_img img {
    max-width: 445px;
  }
}

@media screen and (max-width: 991px) {
  .header-menu_left {
    width: 55%;
  }
  .header-menu_tabs {
    width: 80%;
  }
  .header-menu_right {
    width: 11%;
  }
  .search-button input:focus {
    width: 200px;
    padding: 0px 30px 0 15px;
  }
  .design-text_title {
    font-size: 35px;
  }
  .design-chair img {
    max-width: 100%;
  }
  .new_furniture {
    padding-top: 80px;
  }
  .new_img_block {
    width: 167px;
    margin-right: 23px;
    max-height: 260px;
  }
  .new_img_block:nth-child(n+3) {
    margin-top: 25px;
  }
  .new_header {
    font-size: 22px;
  }
  .new_img1 img {
    max-width: 100%;
  }
  .new_img2 img {
    max-width: 100%;
  }
  .new_img_text p:nth-child(odd) {
    font-size: 18px;
    margin-bottom: 7px;
    text-align: center;
  }
  .new_img_text p:nth-child(even) {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .new_right_block {
    width: 324px;
  }
  .new-right_img img {
    max-width: 320px;
  }
  .rewiew_comment {
    max-width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 393px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .feature {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(47%, #F9FDFF), color-stop(47%, transparent), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(5%, #F9FDFF), color-stop(15%, #FCEAE8), to(#F9FDFF));
    background-image: linear-gradient(90deg, #F9FDFF 47%, transparent 47%, transparent 100%), linear-gradient(180deg, #F9FDFF 5%, #FCEAE8 15% 70%, #F9FDFF 100%);
  }
  .header-menu {
    padding-top: 23px;
  }
  .header-menu_left {
    width: 50%;
  }
  .header-menu_tabs {
    display: none;
  }
  .header-menu_right {
    width: 25%;
  }
  .header-menu_tabs_ul li a {
    font-size: 10px;
  }
  .search-button input:focus {
    width: 150px;
    padding: 0px 30px 0 15px;
  }
  .hamburger-menu {
    width: 10%;
    display: inline;
  }
  .design-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .design-chair {
    margin-right: -16px;
    width: 277px;
    height: 347px;
    background-image: url("../img/chair-mobile.png");
    background-size: 277px;
    background-position-x: 10px;
  }
  .design-chair img {
    display: none;
  }
  .design-text_title {
    font-size: 27px;
    line-height: 46px;
    letter-spacing: 0.05em;
  }
  .design-text_name {
    margin-top: 20px;
    font-size: 20px;
    line-height: 27px;
  }
  .design-text_prices {
    margin-top: 5px;
  }
  .design-text_price {
    font-size: 20px;
    line-height: 27px;
  }
  .design-text_price_sale {
    font-size: 30px;
    line-height: 41px;
  }
  .design-text button {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 58px;
    margin-top: 30px;
    padding: 0;
    /* перебивка точек слайдера на цифры*/
  }
  .slick-dots {
    position: relative;
    height: 26px;
    width: 58px;
    left: 83%;
  }
  .slick-dots::after {
    content: '';
    width: 304px;
    height: 4px;
    position: relative;
    background: rgba(20, 18, 21, 0.1);
    right: 70px;
    margin: auto 0;
  }
  .slick-dots li {
    position: absolute;
    width: 58px;
    height: 26px;
    margin: 0 0 0 0;
    cursor: default;
    pointer-events: none;
  }
  .slick-dots li button {
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
  }
  .slick-dots li button::before {
    opacity: 1;
  }
  .slick-dots li #slick-slide-control00::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '01 / 04';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    cursor: default;
    display: none;
    z-index: -1;
  }
  .slick-dots li.slick-active #slick-slide-control00::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '01 / 04';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 1;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .slick-dots li.slick-active #slick-slide-control00::after {
    content: '';
    width: 75px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 299px;
    top: initial;
    bottom: 11px;
  }
  .slick-dots li #slick-slide-control01::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '02 / 04';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    cursor: default;
    display: none;
    z-index: -1;
  }
  .slick-dots li.slick-active #slick-slide-control01::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '02 / 04';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 1;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .slick-dots li.slick-active #slick-slide-control01::after {
    content: '';
    width: 75px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 225px;
    top: initial;
    bottom: 11px;
  }
  .slick-dots li #slick-slide-control02::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '03 / 04';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    cursor: default;
    display: none;
    z-index: -1;
  }
  .slick-dots li.slick-active #slick-slide-control02::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '03 / 04';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 1;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .slick-dots li.slick-active #slick-slide-control02::after {
    content: '';
    width: 75px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 150px;
    top: initial;
    bottom: 11px;
  }
  .slick-dots li #slick-slide-control03::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '04 / 04';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    cursor: default;
    display: none;
    z-index: -1;
  }
  .slick-dots li.slick-active #slick-slide-control03::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '04 / 04';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 1;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .slick-dots li.slick-active #slick-slide-control03::after {
    content: '';
    width: 75px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 70px;
    top: initial;
    bottom: 11px;
  }
  .new_img_block {
    width: 100%;
    max-height: 289px;
    height: initial;
    margin-right: 0;
  }
  .new_img_block:nth-child(n+3) {
    margin-top: 30px;
  }
  .new_left_header {
    max-height: initial;
    margin-bottom: 39px;
  }
  .new_img1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .new_img_text p:nth-child(odd) {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 7px;
    text-align: center;
  }
  .new_img_text p:nth-child(even) {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 16px;
  }
  .new-right_img img {
    width: 100%;
  }
  .new_furniture_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .new_left_block {
    width: 100%;
  }
  .new_right_block {
    width: 100%;
    margin-top: 30px;
  }
  .new-right_img {
    margin: 0;
    width: 72%;
  }
  .new_right_text p:nth-child(odd) {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 7px;
    text-align: center;
  }
  .new_right_text p:nth-child(even) {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 16px;
  }
  .review {
    display: none;
  }
  .last_chance {
    background-image: none;
  }
  .tabs > label {
    padding: 8px 103px 25px 0;
  }
  .tabs > label:last-of-type {
    padding-right: 0;
  }
  .last_chance_slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .last_chance_slider .last_chair_block {
    max-width: 100% !important;
    margin-right: 0;
    position: relative;
    margin-bottom: 0;
  }
  .last_chance_slider .last_chair_block .last_chair_text {
    padding-bottom: 18px;
  }
  .last_chance_slider .last_chair_block .last_chair_img {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .last_chance_slider .last_chair_block:hover .last_chair_hover_top {
    display: none;
  }
  .last_chance_slider .last_chair_block:hover .last_chair_hover_bottom {
    display: none;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control00::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '01 / 05';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 1;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control00::after {
    content: '';
    width: 60px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 313px;
    top: initial;
    bottom: 11px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control01::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '02 / 05';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 1;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control01::after {
    content: '';
    width: 60px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 250px;
    top: initial;
    bottom: 11px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control02::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '03 / 05';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 1;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control02::after {
    content: '';
    width: 60px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 190px;
    top: initial;
    bottom: 11px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control03::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '04 / 05';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 1;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control03::after {
    content: '';
    width: 60px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 130px;
    top: initial;
    bottom: 11px;
  }
  .last_chance_slider .slick-dots li #slick-slide-control04::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '05 / 05';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    cursor: default;
    display: none;
    z-index: -1;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control04::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '05 / 05';
    font: 600 30px "OpenSans-SemiBold", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 1;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control04::after {
    content: '';
    width: 60px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 70px;
    top: initial;
    bottom: 11px;
  }
}

@media screen and (max-width: 424px) {
  .container {
    width: 343px;
  }
  .search-button input:focus {
    width: 130px;
  }
  .slick-dots::after {
    width: 270px;
  }
  .slick-dots li.slick-active #slick-slide-control00::after {
    width: 60px;
    right: 280px;
  }
  .slick-dots li.slick-active #slick-slide-control01::after {
    width: 60px;
    right: 210px;
  }
  .slick-dots li.slick-active #slick-slide-control02::after {
    width: 60px;
    right: 140px;
  }
  .slick-dots li.slick-active #slick-slide-control03::after {
    width: 60px;
    right: 70px;
  }
  .tabs > label {
    padding: 8px 78px 25px 0;
  }
  .last_chance_slider .slick-dots::after {
    width: 270px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control00::after {
    width: 54px;
    right: 286px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control01::after {
    width: 54px;
    right: 232px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control02::after {
    width: 54px;
    right: 178px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control03::after {
    width: 54px;
    right: 124px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control04::after {
    width: 54px;
    right: 70px;
  }
}

@media screen and (max-width: 374px) {
  .container {
    width: 288px;
  }
  .search-button input:focus {
    width: 100px;
  }
  .slick-dots {
    left: 230px;
  }
  .slick-dots::after {
    content: '';
    width: 218px;
    height: 4px;
    position: relative;
    background: rgba(20, 18, 21, 0.1);
    right: 70px;
    margin: auto 0;
  }
  .slick-dots li.slick-active #slick-slide-control00::after {
    width: 50px;
    right: 238px;
  }
  .slick-dots li.slick-active #slick-slide-control01::after {
    width: 50px;
    right: 180px;
  }
  .slick-dots li.slick-active #slick-slide-control02::after {
    width: 50px;
    right: 125px;
  }
  .slick-dots li.slick-active #slick-slide-control03::after {
    width: 50px;
    right: 70px;
  }
  .new_header {
    font-size: 20px;
  }
  .tabs > label {
    padding: 8px 48px 25px 0;
  }
  .tabs > label:last-of-type {
    padding-right: 0;
  }
  .last_chance_slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .last_chance_slider .slick-dots {
    left: 230px;
  }
  .last_chance_slider .slick-dots::after {
    content: '';
    width: 218px;
    height: 4px;
    position: relative;
    background: rgba(20, 18, 21, 0.1);
    right: 70px;
    margin: auto 0;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control00::after {
    width: 43px;
    right: 245px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control01::after {
    width: 43px;
    right: 202px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control02::after {
    width: 43px;
    right: 158px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control03::after {
    width: 43px;
    right: 114px;
  }
  .last_chance_slider .slick-dots li.slick-active #slick-slide-control04::after {
    width: 43px;
    right: 70px;
  }
}
