@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  color: #303032;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F9FDFF;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("PlayfairDisplay-Regular"), url("../fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("PlayfairDisplay-Bold"), url("../fonts/PlayfairDisplay-Bold.ttf");
}

.feature {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(65%, #F9FDFF), color-stop(35%, #FCEAE8));
  background-image: linear-gradient(90deg, #F9FDFF 65%, #FCEAE8 35%);
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 85px;
}

.header-menu_left {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu_tabs {
  width: 70%;
}

.header-menu_tabs_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header-menu_right {
  width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu_tabs_ul li {
  display: inline;
  text-transform: uppercase;
}

.header-menu_tabs_ul li a {
  text-decoration: none;
  font: 400 14px "Open Sans", sans-serif;
  line-height: 19px;
  letter-spacing: 0.13em;
  color: #303032;
}

.header-menu_tabs_ul li a:hover {
  color: #7b7b80;
}

.header-menu_tabs_ul li a:active {
  border-bottom: 1px solid;
  color: black;
}

.header-menu_tabs_ul li a:focus {
  border-bottom: 1px solid;
}

.search-button {
  height: 32px;
}

.search-button form {
  position: relative;
}

.search-button input {
  height: 30px;
  width: 25px;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  color: transparent;
}

.search-button input:focus {
  width: 300px;
  z-index: 1;
  padding: 0px 22px 0 15px;
  color: #303032;
  cursor: auto;
  border-radius: 30px;
  border: 2px solid #324b4e;
}

.search-button button {
  margin: 0;
  padding: 2px 2px 0 0;
  background: transparent;
  border: none;
  height: 25px;
  width: 25px;
  position: initial-scale;
  cursor: pointer;
}

.search-button button:before {
  content: url("../img/search.png");
  color: #F9F0DA;
  display: inline-block;
}

.search-button input:focus ~ button:before {
  content: url("../img/search-min.png");
  position: relative;
  top: 5px;
  right: 3px;
}

/* скрываем чекбокс */
#menu__toggle {
  display: none;
}

/* стилизуем кнопку */
.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #313133;
  z-index: 2;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 120px 0;
  list-style: none;
  text-align: center;
  background-color: #303032;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 38px 24px;
  color: #333;
  font: 400 14px "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #555559;
}

#menu__toggle:checked ~ .menu__btn {
  margin-top: -2px;
  margin-left: -2px;
  width: 30px;
  height: 30px;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #FFFFFF;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #FFFFFF;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #FFFFFF;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.design-block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  block-size: inherit;
}

.design-text {
  font: 400 20px "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.design-text_title {
  font: 700 57px "PlayfairDisplay-Bold", sans-serif;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.design-text_name {
  font: 400 20px "Open Sans", sans-serif;
  line-height: 27px;
  margin-top: 35px;
}

.design-text_prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.design-text_price {
  font: 400 20px "Open Sans", sans-serif;
  margin-right: 20%;
}

.design-text_price_sale {
  font: 600 30px "Open Sans", sans-serif;
  line-height: 41px;
}

.design-text button {
  cursor: pointer;
  font: 400 14px "Open Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.13em;
  color: #FFFFFF;
  width: 238px;
  height: 58px;
  left: 135px;
  top: 537px;
  background: #303032;
  border: none;
  margin-top: 35px;
}

.design-text button:hover {
  background: #49494c;
  -webkit-box-shadow: 0 10px 13px 0 #0000003d;
          box-shadow: 0 10px 13px 0 #0000003d;
}

.design-text button:focus {
  background: #242425;
  -webkit-box-shadow: 0 7px 10px 0 #0000003d;
          box-shadow: 0 7px 10px 0 #0000003d;
}

.design-chair {
  margin-right: 5%;
}

/* перебивка точек слайдера на цифры*/
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  width: 50px;
  top: 42%;
  right: 0;
}

.slick-dots li {
  width: 50px;
  height: 40px;
  margin: 0 0 20px 0;
}

.slick-dots li button {
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
}

.slick-dots li button::before {
  opacity: 1;
}

.slick-dots li #slick-slide-control00::before {
  width: inherit;
  height: inherit;
  content: '01';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

.slick-dots li.slick-active #slick-slide-control00::before {
  width: inherit;
  height: inherit;
  content: '01';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  text-align: right;
  top: -20px;
  right: 0;
}

.slick-dots li.slick-active #slick-slide-control00::after {
  content: '';
  width: 2px;
  height: 54px;
  position: absolute;
  background: #000000;
  right: -20px;
  top: -15px;
}

.slick-dots li #slick-slide-control01::before {
  width: inherit;
  height: inherit;
  content: '02';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

.slick-dots li.slick-active #slick-slide-control01::before {
  width: inherit;
  height: inherit;
  content: '02';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  text-align: right;
  top: -20px;
  right: 0;
}

.slick-dots li.slick-active #slick-slide-control01::after {
  content: '';
  width: 2px;
  height: 54px;
  position: absolute;
  background: #000000;
  right: -20px;
  top: -15px;
}

.slick-dots li #slick-slide-control02::before {
  width: inherit;
  height: inherit;
  content: '03';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

.slick-dots li.slick-active #slick-slide-control02::before {
  width: inherit;
  height: inherit;
  content: '03';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  text-align: right;
  top: -20px;
  right: 0;
}

.slick-dots li.slick-active #slick-slide-control02::after {
  content: '';
  width: 2px;
  height: 54px;
  position: absolute;
  background: #000000;
  right: -20px;
  top: -15px;
}

.slick-dots li #slick-slide-control03::before {
  width: inherit;
  height: inherit;
  content: '04';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

.slick-dots li.slick-active #slick-slide-control03::before {
  width: inherit;
  height: inherit;
  content: '04';
  font: 400 20px "PlayfairDisplay-Regular", sans-serif;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  text-align: right;
  top: -20px;
  right: 0;
}

.slick-dots li.slick-active #slick-slide-control03::after {
  content: '';
  width: 2px;
  height: 54px;
  position: absolute;
  background: #000000;
  right: -20px;
  top: -15px;
}

.new_furniture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 120px;
  padding-top: 102px;
}

.new_furniture_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new_left_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: green;
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #1aff1a;
}

.new_img_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

.new_img_block:first-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.new_left_header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.new_img2 {
  height: 201px;
  overflow: hidden;
}

.new_img_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new_right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ff9999;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

.new_right_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new_right_text p:first-child {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #303032;
  margin-bottom: 7px;
}

.new_right_text p:last-child {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #303032;
  margin-bottom: 26px;
}

@media screen {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 1800px) {
  .feature {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(69%, #F9FDFF), color-stop(31%, #FCEAE8));
    background-image: linear-gradient(90deg, #F9FDFF 69%, #FCEAE8 31%);
  }
}

@media screen and (max-width: 1439px) {
  .container {
    max-width: 1000px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .header-menu {
    padding-top: 60px;
  }
  .slick-dots li.slick-active #slick-slide-control00::after, .slick-dots li.slick-active #slick-slide-control01::after, .slick-dots li.slick-active #slick-slide-control02::after, .slick-dots li.slick-active #slick-slide-control03::after {
    right: -15px;
  }
}

@media screen and (max-width: 1023px) {
  .design-text_title {
    font-size: 53px;
  }
}

@media screen and (max-width: 991px) {
  .header-menu_left {
    width: 55%;
  }
  .header-menu_tabs {
    width: 80%;
  }
  .header-menu_right {
    width: 11%;
  }
  .search-button input:focus {
    width: 200px;
    padding: 0px 30px 0 15px;
  }
  .design-text_title {
    font-size: 35px;
  }
  .design-chair img {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 393px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .feature {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(47%, #F9FDFF), color-stop(47%, transparent), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(5%, #F9FDFF), color-stop(15%, #FCEAE8), to(#F9FDFF));
    background-image: linear-gradient(90deg, #F9FDFF 47%, transparent 47%, transparent 100%), linear-gradient(180deg, #F9FDFF 5%, #FCEAE8 15% 70%, #F9FDFF 100%);
  }
  .header-menu {
    padding-top: 23px;
  }
  .header-menu_left {
    width: 50%;
  }
  .header-menu_tabs {
    display: none;
  }
  .header-menu_right {
    width: 25%;
  }
  .header-menu_tabs_ul li a {
    font-size: 10px;
  }
  .search-button input:focus {
    width: 150px;
    padding: 0px 30px 0 15px;
  }
  .hamburger-menu {
    width: 10%;
    display: inline;
  }
  .design-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .design-chair {
    margin-right: -16px;
    width: 277px;
    height: 347px;
    background-image: url("../img/chair-mobile.png");
    background-size: 277px;
    background-position-x: 10px;
  }
  .design-chair img {
    display: none;
  }
  .design-text_title {
    font-size: 27px;
    line-height: 46px;
    letter-spacing: 0.05em;
  }
  .design-text_name {
    margin-top: 20px;
    font-size: 20px;
    line-height: 27px;
  }
  .design-text_prices {
    margin-top: 5px;
  }
  .design-text_price {
    font-size: 20px;
    line-height: 27px;
  }
  .design-text_price_sale {
    font-size: 30px;
    line-height: 41px;
  }
  .design-text button {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 58px;
    margin-top: 30px;
    padding: 0;
    /* перебивка точек слайдера на цифры*/
  }
  .slick-dots {
    position: relative;
    height: 26px;
    width: 48px;
    left: 240px;
  }
  .slick-dots::after {
    content: '';
    width: 218px;
    height: 4px;
    position: relative;
    background: rgba(20, 18, 21, 0.1);
    right: 70px;
    margin: auto 0;
  }
  .slick-dots li {
    position: absolute;
    width: 50px;
    height: 26px;
    margin: 0 0 0 0;
    cursor: default;
    pointer-events: none;
  }
  .slick-dots li button {
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
  }
  .slick-dots li button::before {
    opacity: 1;
  }
  .slick-dots li #slick-slide-control00::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '01 / 04';
    font: 600 30px "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    cursor: default;
    display: none;
    z-index: -1;
  }
  .slick-dots li.slick-active #slick-slide-control00::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '01 / 04';
    font: 600 30px "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .slick-dots li.slick-active #slick-slide-control00::after {
    content: '';
    width: 50px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 238px;
    top: initial;
    bottom: 11px;
  }
  .slick-dots li #slick-slide-control01::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '02 / 04';
    font: 600 30px "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    cursor: default;
    display: none;
    z-index: -1;
  }
  .slick-dots li.slick-active #slick-slide-control01::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '02 / 04';
    font: 600 30px "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .slick-dots li.slick-active #slick-slide-control01::after {
    content: '';
    width: 50px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 180px;
    top: initial;
    bottom: 11px;
  }
  .slick-dots li #slick-slide-control02::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '03 / 04';
    font: 600 30px "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    cursor: default;
    display: none;
    z-index: -1;
  }
  .slick-dots li.slick-active #slick-slide-control02::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '03 / 04';
    font: 600 30px "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .slick-dots li.slick-active #slick-slide-control02::after {
    content: '';
    width: 50px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 125px;
    top: initial;
    bottom: 11px;
  }
  .slick-dots li #slick-slide-control03::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '04 / 04';
    font: 600 30px "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    cursor: default;
    display: none;
    z-index: -1;
  }
  .slick-dots li.slick-active #slick-slide-control03::before {
    cursor: default;
    width: inherit;
    height: inherit;
    content: '04 / 04';
    font: 600 30px "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #141215;
    opacity: 0.48;
    text-align: right;
    top: 0;
    display: inherit;
  }
  .slick-dots li.slick-active #slick-slide-control03::after {
    content: '';
    width: 50px;
    height: 4px;
    position: absolute;
    background: #303032;
    right: 70px;
    top: initial;
    bottom: 11px;
  }
  .new_img_block {
    width: 100%;
  }
  .new-right_img img {
    width: 100%;
  }
  .new_furniture_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .new_left_block {
    width: 100%;
  }
  .new_right_block {
    width: 100%;
  }
  .new_img_block {
    overflow: hidden;
  }
  .new_right_block {
    overflow: hidden;
  }
}

@media screen and (max-width: 424px) {
  .container {
    width: 343px;
  }
  .search-button input:focus {
    width: 130px;
  }
}

@media screen and (max-width: 374px) {
  .container {
    width: 288px;
  }
  .search-button input:focus {
    width: 100px;
  }
}
