body {
    font-family: "Manrope",sans-serif;
    margin: 0;
    color: #181818;
}
h1, h2, h3, h4, p {
    margin: 0;
}

.experience {
    padding: 64px 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
    
}
.experience-block {
    display: flex;
    background-color: aqua;
    justify-content: space-between;
}
.experience-title {
    font-weight: 800;
    font-size: 48px;
    width: 600px;
    line-height: 64px;
    margin-bottom: 40px;
    
}
.experience_item {
    width: 255px;
    display: inline-block;
    margin-right: -6px;
}
.ml-30px {
    margin-left: 30px;
}
img {
    border-radius: 4px;
}