.bottom_menu
    background: #FFFFFF
.bottom_menu_wrapper
    display: flex
    padding-top: 100px
    flex-wrap: wrap
    justify-content: space-between
.bottom_logo
    width: 40%
.bottom_menu_tabs
    margin-bottom: 30px
    width: 45%
.bottom_menu_tabs_ul
    display: flex
    justify-content: space-between
    margin: 0
    padding: 0
.bottom_menu_tabs_ul li
    display: inline
    text-transform: uppercase
.bottom_menu_tabs_ul li a
    text-decoration: none
    font: $font-avenir
    line-height: 22px
    letter-spacing: 0.05em
    color: #303032
.bottom_menu_tabs_ul li a:hover
    color: lighten(#303032, 30%)
.bottom_menu_tabs_ul li a:active
    border-bottom: 1px solid 
    color: darken(#303032, 30%)
.bottom_menu_tabs_ul li a:focus
    border-bottom: 1px solid 
.bottom_menu_contacts
    display: flex
    justify-content: space-between
    width: 33%
    font: $font-roboto
    padding-bottom: 30px
.bottom_menu_phone a
    display: flex
    text-decoration: none
.bottom_menu_email a
    display: flex
    text-decoration: none
.bottom_menu_contacts p
    padding-left: 8px
    line-height: 19px
    color: #303032
.bottom_menu_hr hr
    margin: 0
    border: 1px solid rgba(0, 0, 0, 0.2)
    transform: matrix(1, 0, 0, 1, 0, 0)
.bottom_footer_license
    display: flex
    flex-direction: column
.bottom_menu_license
    display: flex
    justify-content: end
    justify-content: flex-end
    p
        font: $font-avenir
        font-weight: 400
        font-size: 10px
        line-height: 15px
        color: #000000
        opacity: 0.2
        padding: 10px 0