
@font-face 
    font-family: 'PlayfairDisplay-Regular', sans-serif
    font-style: normal
    font-weight: 400
    src: local("PlayfairDisplay-Regular"),
    url("../fonts/PlayfairDisplay-Regular") format('ttf')

@font-face 
    font-family: "PlayfairDisplay-Bold"
    font-style: normal
    font-weight: 700
    src: local("PlayfairDisplay-Bold"),
    url("../fonts/PlayfairDisplay-Bold") format('ttf')


