@media screen and ( max-width: 1800px  )
    .feature
        background-image: linear-gradient(90deg, #F9FDFF 69%, #FCEAE8 31%)

@media screen and ( max-width: 1439px  )
    .container
        max-width: 1000px
        padding-left: 32px
        padding-right: 32px
@media screen and ( max-width: 991px  )    
    .container
        width: 393px
    .new_furniture_wrapper
        flex-direction: column
        align-items: center
    .new_left_block
        width: 100%
    .new_right_block
        width: 100%

    .new_img_block
        overflow: hidden
    .new_right_block
        overflow: hidden    
@media screen and ( max-width: 324px  )
    .container
        width: 288px
    .new_img_block
        width: 100%
    .new-right_img img
        width: 100%