.design-block
    display: flex
    align-items: center
.design-text
    // padding-top: 235px
    // padding-bottom: 156px
    height: 80vh
    display: flex
    flex-direction: column
    align-items: start
    align-content: space-between
.design-text_title
    font: $font-play-lg
    line-height: 145%
    letter-spacing: 0.05em
    text-transform: uppercase
.design-text_name
    font: $font-sans-md
    line-height: 27px
.design-text_prices    
    display: flex
    align-items: center
.design-text_price
    font: $font-sans-md
.design-text_price_sale
    font: $font-sans-lg
    line-height: 41px
button
    cursor: pointer
    font: $font-sans-sm
    font-size: 16px
    text-transform: uppercase