.review
    padding-bottom: 100px
.review_block
    display: flex !important
    flex-direction: column
    align-items: center
    color: #444348
.review_img
    margin-bottom: 25px
.review_name
    text-align: center
    margin-bottom: 20px
.review_name h2
    font: $font-sans-lg
    font-size: 16px
    line-height: 28px
.review_name p
    font: $font-sans-sm
    font-size: 16px
    line-height: 28px
.rewiew_comment
    max-width: 653px
    font: $font-sans-Italic
    line-height: 25px
    text-align: center
    margin-bottom: 10px

/* Slider */
.slick2-prev 
    left: 15%
    z-index: 2
    width: 36px
    height: 37px
.slick2-next 
    right: 15%
    z-index: 2
.slick2-prev::before, .slick2-next::before
    font-size: 36px
.slick2-prev::before
    display: inline-block
    z-index: 2
    content: url("../img/arrow-left.png")
    border-radius: 50%
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
    font-size: 0
.slick2-next::before
    display: inline-block
    z-index: 2
    content: url("../img/arrow-right.png")
    border-radius: 50%
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
    font-size: 0
.slick2-dots li button::before
    content: url("../img/dot-inactive.png")
    opacity: 1
.slick2-dots li.slick2-active button::before
    content: url("../img/dot-active.png")
    opacity: 1