$font-sans-sm: 400 14px "OpenSans-Regular", sans-serif
$font-sans-md: 400 20px "OpenSans-Regular", sans-serif
$font-sans-lg: 600 30px "OpenSans-SemiBold", sans-serif
$font-sans-Italic: 400 16px "OpenSans-Italic", sans-serif
$font-play-md: 400 20px "PlayfairDisplay-Regular", sans-serif
$font-play-lg: 700 57px "PlayfairDisplay-Bold", sans-serif
$font-avenir: 600 14px "AvenirNext-Medium", sans-serif
$font-roboto: 400 16px "Roboto-Regular", sans-serif
