
body
    font-family: 'Open Sans', sans-serif
    color: #303032
    box-sizing: border-box
    background:#F9FDFF
    

h1, h2, h3, h4, p 
    margin: 0
.container
    max-width: 1170px
    margin: 0 auto
    // background: pink


@import "_fonts"
@import "_variables"
@import "_menu"
@import "_new_furniture"
@import "_media"

