
body
    font-family: 'Open Sans', sans-serif
    color: #18191f
    box-sizing: border-box
h1, h2, h3, h4, p 
    margin: 0
.container
    max-width: 1120px
    margin: 0 auto

@import "_menu"
@import "_variables"
@import "_fonts"

