/*переменные*/  
@navy: #1d365d;




body {
    background-color: aqua;

    background-color: blue;
    background-color: @navy;
    background-color: @navy;
    background-color: @navy;
    background-color: blue;
}