
@font-face {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local("Mulish"),
    url("../fonts/Mulish-Regular.ttf")
}
@font-face {
    font-family: "GothamPro-Medium";
    font-style: normal;
    font-weight: 700;
    src: local("Mulish"),
    url("../fonts/Mulish-Bold.ttf")
}
