body {
  margin: 0;
  padding: 50px;
}

textarea {
  resize: none;
  outline: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.sr-only {
  visibility: hidden;
  position: absolute;
}
